body {
    margin: 0;
    padding: 0;
    font-family: fantasy;
    color: blueviolet;
}


/*
 Formatting the header area
 */

header {
    background-color: beige;
    height: 35px;
    width: auto;
    opacity: .9%;
    margin-bottom: 10px;
}

header h1.logo {
    margin: 0;
    font-size: 1.7em;
    color: #ffffff;
    text-transform: uppercase;
    float: left;
}

header h1.logo:hover {
    color: #ffffff;
    text-decoration: none;
}


/*
Center the body content
 */

.container {
    width: auto;
    margin: 0 auto;
}

div.home {
    padding: 10px 0 30px 0;
    background-color: burlywood;
    -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
            border-radius: 6px;
}


div.about {
    padding: 10px 0 30px 0;
    background-color: burlywood;
    -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
            border-radius: 6px;
}

div.plot {
    padding: 10px 0 30px 0;
    background-color: burlywood;
    -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
            border-radius: 6px;
}

h1 {
    font-size: 2.7em;
    margin-top: 40px;
    text-align: center;
    letter-spacing: -2px;
}


h2 {
    font-size: 1.7em;
    font-weight: 100;
    margin-top: 30px;
    text-align: center;
    letter-spacing: -1px;
    color: #999999;
}

.menu {
    float: right;
    margin-top: 8px;
}


.menu li {
    display: inline;
}

.menu li + li {
    margin-inside: 35px;
}


.menu li a {
    color: #444444;
    text-decoration: none;
}